body {
  font-family: "Commissioner", sans-serif;
  min-width: 360px;
}

input,
button {
  font-family: inherit;
}

.logoWrapper {
  position: absolute;
  top: -5px;
  right: 0;
}

.rules {
  margin-bottom: 16px;
  width: 80%;
}

.formColorPickerWrapper {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.pickColor {
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 10px;
}
